.personalInfo__name {
  display: inline-block;
}

.personalInfoContainer {
  height: 120px;
  width: 800px;
  color: #fff;
  background-color: #001b33;
  padding: 40px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.contactInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  margin: 20px 40px;
}

.fullName {
  height: var(--fs-h1);
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.faIcon {
  padding-right: 0.5rem;
}

.sectionTitle {
  background-color: var(--clr-accent);
  color: var(--fc-dark);
  font-size: 25px;
  font-family: var(--ff-primary);
  margin: 20px;
  padding: 5px 10px;
}

.outputCard {
  display: flex;
  color: var(--fc-dark);

  justify-content: space-between;
  margin: 20px;
  padding: 0px 20px;
}

.outputCard__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
